{% extends "main/base.html" %}

{% block title %} {{ ingredient.name }} {% endblock %}

{% block content %}
    <h3>{{ ingredient.name }}</h3>
    <ul>
        {% if ingredient.alias %}
        <li class="alias-list">Aliaser
            <ul>
                {% for item in ingredient.alias %}
                <li class="alias-list-item"><a href="{{ url_for('main.get_ingredient', name=item) }}">{{ item }}</a></li>
                {% endfor %}
            </ul>
        </li>
        {% endif %}

        {% if used_in %}
        <li class="recipe-list">Opskrifter
            <ul>
                {% for item in used_in %}
                    <li class="recipe-list-item"><a href="{{ url_for('main.recipe_get', name=item[1]) }}">{{ item[0] }}</a></li>
                {% endfor %}
            </ul>
        </li>
        {% else %}
            <li>Bliver ikke brugt i nogle opskrifter</li>
        {% endif %}
    </ul>

{% endblock %}
