{% extends "main/base.html" %}

{% block title %} Ingredienser {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h3>Ingredients</h3>
    </div>
    <div class="col-md-6">
        <div class="form-group float-right" id="data-target">
            <label for="">Search:</label>
            <input type="text" name="ingredients-name" id="filter-field">
        </div>
    </div>
</div>
<div class="clearfix"></div>
<ul class="list-group">
    {% for item in ingredients %}
        <li class="list-group-item">
            <a href="{{ url_for('main.get_ingredient', name=item.name) }}">
                {{ item.name.capitalize() }}
            </a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        $('#data-button').click(function () {
            var name = $("#filter-field").val(); // filter value
            $.ajax({
            type: 'GET',
            url: '/json/ingredients/'+name, // value to query the json with
            dataType: 'json'
            }).done(function (data) {
                if (data.ingredients){  // check if the json object contains ingredients
                    deleteContent("ul.list-group");
                    $.when(replaceData(data.ingredients)).done(function () {
                        console.log("Done");
                    });
                    var title = ""; // set the h3 title

                    if (name != ""){
                        title = "Ingredienser - søgeord: " + name;
                    } else {
                        title = "Ingredienser";
                    }
                    $('h3').text(title);
                } else {
                    console.log("Error. Something went wrong.");
                }
            })
        });

        function deleteContent(target) { // empty the list group
            $(target).empty();
        }
        function replaceData(response) { // replace data with new data
            if (response == null){
                console.log("Error: Response is null");
            } else {
                if (response.length !== 0) {
                    for (obj of response) { // loop through the data
                        // these are variables to setup the list group items
                        var list_group_start = "<li class='list-group-item'>";
                        var link = "<a href='/ingredients/" + obj.name + "'>" + obj.name + "</a>";
                        var list_group_end = "</li>\n";
                        var element = list_group_start + link + list_group_end;
                        $('ul.list-group').append(element);
                    }
                }
            }
        }
    </script>
{% endblock %}