{% extends "main/base.html" %}

{% block title %} Opskrifter {% endblock %}

{% block content %}
    <h2>Opskrifter</h2>
    <div class="col-md-12 m-2 float-left">
        <div class="col-md-4">
            <a href="{{ url_for('main.create_recipe') }}"><input type="submit" value="Lav ny" class="btn btn-danger"></a>
        </div>
    </div>
    <div class="clearfix"></div>
    <ul class="list-group">
        {%  for recipe in recipes %}
        <li class="list-group-item"><a href="{{ url_for('main.recipe_get', name=recipe.name) }}">{{ recipe.name }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}